<main>
    <div class="mat-progress-bar-container">
        <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
    </div>

    <header>
        <h1>{{ item === null ? 'Add An Item' : 'Make Changes' }}</h1>

        <button mat-button (click)="onCloseDialog()">
            <mat-icon>clear</mat-icon>
        </button>
    </header>

    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Choose what to Change<span class="required-field">required</span></mat-label>
            <mat-select formControlName="SpouseCitizenshipType">
                <mat-option value="1">Surname</mat-option>
                <mat-option value="2">Given Name</mat-option>
                <mat-option value="3">Other Name</mat-option>
                <mat-option value="4">Sex</mat-option>
            </mat-select>
        </mat-form-field> 

        <mat-form-field appearance="outline">
            <mat-label>Previous Information <span class="required-field">required</span></mat-label>
            <input appRemoveSpaces matInput placeholder="Ex. Museveni" formControlName="SpouseGivenName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>New Information <span class="optional-field">optional</span></mat-label>
            <input appRemoveSpaces matInput placeholder="Ex. Yoweri" formControlName="SpouseOtherName">
        </mat-form-field>      
    </form>

    <section>
        <button color="warn" mat-button (click)="form.reset()" [disabled]="processing">
            Clear Form
        </button>

        <button 
            *ngIf="item === null" 
            color="primary" 
            mat-raised-button 
            (click)="onSave()" 
            [disabled]="form.invalid || processing">
            Save
        </button>

        <button 
            *ngIf="item !== null" 
            color="primary" 
            mat-raised-button 
            (click)="onSaveChanges()" 
            [disabled]="form.invalid || processing">
            Save Changes
        </button>
    </section>
</main>