<app-page-banner [title]="title"></app-page-banner>   

<main>

    <article class="chairperson" *ngIf="!loading">

        <section>
    
            <div class="image-wrapper">
                <img [src]="chairperson.imageSrc" />
            </div>
    
            <div class="name-role">
                
                <h1 [innerHTML]="chairperson.name"></h1>
    
                <p [innerHTML]="chairperson.role"></p>
    
            </div>
    
        </section>

    </article>

    <article *ngIf="!loading && !renderAll" class="fadeInUp _delay2ms">

        <section 
            *ngFor="let member of boardOfDirectorsOne">
    
            <div class="image-wrapper">
                <img [src]="member.imageSrc" />
            </div>
    
            <div class="name-role">
                
                <h1 [innerHTML]="member.name"></h1>
    
                <p [innerHTML]="member.role"></p>
    
            </div>
    
        </section>

    </article>

    <article *ngIf="!loading && !renderAll">

        <section 
            *ngFor="let member of boardOfDirectorsTwo">
    
            <div class="image-wrapper">
                <img [src]="member.imageSrc" />
            </div>
    
            <div class="name-role">
                
                <h1 [innerHTML]="member.name"></h1>
    
                <p [innerHTML]="member.role"></p>
    
            </div>
    
        </section>

    </article>

    <article *ngIf="!loading && boardOfDirectorsThree.length && !renderAll">

        <section 
            *ngFor="let member of boardOfDirectorsThree">
    
            <div class="image-wrapper">
                <img [src]="member.imageSrc" />
            </div>
    
            <div class="name-role">
                
                <h1 [innerHTML]="member.name"></h1>
    
                <p [innerHTML]="member.role"></p>
    
            </div>
    
        </section>

    </article>

    <article *ngIf="!loading && boardOfDirectorsFour.length && !renderAll">

        <section 
            *ngFor="let member of boardOfDirectorsFour">
    
            <div class="image-wrapper">
                <img [src]="member.imageSrc" />
            </div>
    
            <div class="name-role">
                
                <h1 [innerHTML]="member.name"></h1>
    
                <p [innerHTML]="member.role"></p>
    
            </div>
    
        </section>

    </article>

    <article *ngIf="!loading && renderAll" class="render-all-members">

        <section 
            *ngFor="let member of boardOfDirectors">
    
            <div class="image-wrapper">
                <img [src]="member.imageSrc" />
            </div>
    
            <div class="name-role">
                
                <h1 [innerHTML]="member.name"></h1>
    
                <p [innerHTML]="member.role"></p>
    
            </div>
    
        </section>

    </article>

</main>