<main>

    <article 
        style="width: 100%; margin: 30px 0px; position: relative;"
        id="letterBodyContainer">

        <div class="image-wrapper" style="width: 230px; overflow: hidden; margin: 80px auto 20px;">
            <img src="./assets/exports/nira_logo_black@2x.png" style="width: 100%; " alt="">
        </div>
        
        <div style="display: flex; flex-direction: row; gap: 8px; align-content: center; align-items: flex-end; position: absolute; top: -21px; right: 45px; font-family: Tahoma;font-size: 13px;">
            <p style="margin: 0px;">Notif. No: </p>
            <p style="margin: 0px;border-bottom: 1px solid black;padding: 0px 15px 1px;font-style: italic;color: #000; letter-spacing: 1.5px;">
                <b>{{ data.row.NotificationNumber }}</b>
            </p>
        </div>
        
        <section class="letter-body" style="padding: 12px 42px 45px; font-family: Tahoma;">
            
            <h1 style="text-align: center;margin: -15px 0px 10px; font-size: 19px;font-family: 'Tahoma';text-transform: uppercase;">Birth Notification Record</h1>

            <div style="text-align: center;margin: -8px 0px 0px;">
                <i style="font-size: 13px;font-weight: 600; color: #5c5c5c;">Registration of Persons Act 2015</i>
            </div>

            <h1 style="grid-column: 1/-1; text-align: center; margin: 0px;border: 1px solid rgb(203, 201, 202);border-bottom: 0px;margin-top: 23px;padding: 10px 0px;font-size: 15px;">CHILD</h1>

            <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); border: 1px solid rgb(203, 201, 202); padding: 15px;gap: 15px 7px; font-size: 13px;">

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Surname:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.ChildSurname }}</b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Given Name:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.ChildGivenName }}</b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Other Name:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.ChildOtherName }}</b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span style="width: 53px;">Date of Birth:</span>
                    <b style="color: #000;">{{ data.row.ChildDateOfBirth | date: 'd' }} <sup style="margin: 0px 0px 0px -5px;">{{ getDateSuperscript(data.row.ChildDateOfBirth) }}</sup> {{ data.row.ChildDateOfBirth | date: 'MMMM, yyyy' }} </b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Sex:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.ChildSex }}</b>
                </p>                

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>District:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.ChildDistrict }}</b>
                </p>                

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span style="width: 49px;">Sub County:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.ChildSubcounty }}</b>
                </p>                

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Parish:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.ChildParish }}</b>
                </p>                

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Village:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.ChildVillage }}</b>
                </p>                

            </div>

            <h1 style="grid-column: 1/-1; text-align: center; margin: 0px; border: 1px solid rgb(203, 201, 202); border-bottom: 0px; padding: 10px 0px; margin-top: 40px;font-size: 15px;">MOTHER</h1>

            <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); border: 1px solid rgb(203, 201, 202); padding: 15px;gap: 15px 7px; font-size: 13px;">

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Surname:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.MotherSurname }}</b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Given Name:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.MotherGivenName }}</b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Other Name:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.MotherOtherName }}</b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Nationality:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.MotherNationality }}</b>
                </p>                

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>NIN/AIN:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.MotherNINAIN }}</b>
                </p>                            

            </div>

            <h1 style="grid-column: 1/-1; text-align: center; margin: 0px; border: 1px solid rgb(203, 201, 202); border-bottom: 0px; padding: 10px 0px; margin-top: 40px;font-size: 15px;">FATHER</h1>

            <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); border: 1px solid rgb(203, 201, 202); padding: 15px;gap: 15px 7px; font-size: 13px;">

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Surname:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.FatherSurname }}</b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Given Name:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.FatherGivenName }}</b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Other Name:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.FatherOtherName }}</b>
                </p>

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>Nationality:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.FatherNationality }}</b>
                </p>                

                <p style="margin: 0px;word-break: break-word;display: flex;flex-direction: row;justify-content: flex-start;align-content: center;gap: 5px;align-items: center;">
                    <span>NIN/AIN:</span>
                    <b style="text-transform: uppercase;color: #000; letter-spacing: .7px;">{{ data.row.FatherNINAIN }}</b>
                </p>                            

            </div>

            <footer style="display: flex;flex-direction: row;align-items: baseline;justify-content: space-between;margin: 30px 0px 0px;">
                <div style="display: flex;flex-direction: row;gap: 8px;align-content: center;align-items: flex-end;">
                    <p style="margin: 0px;">Recorded On: </p>
                    <p style="margin: 0px;border-bottom: 1px solid black;padding: 0px 15px 1px;font-style: italic;color: #000;">
                        <b>{{ today | date: 'd' }} <sup style="margin: 0px 0px 0px -5px;">{{ getDateSuperscript(today) }}</sup> {{ today | date: 'MMMM, yyyy' }} </b>                        
                    </p>
                </div>
                
                <div style="display: flex;flex-direction: column;gap: 4px;">
                    <p style="margin: 0px;border-bottom: 1px solid black;"></p>
                    <p style="margin: 0px;font-weight: 600;font-style: italic;">Notifier of Births and Deaths.</p>
                </div>
            </footer>

        </section>

    </article>

</main>