<main>
    <div class="mat-progress-bar-container">
        <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
    </div>

    <header>
        <h1 [innerText]="data.title">Upload</h1>

        <button mat-button (click)="onCloseDialog()">
            <mat-icon>clear</mat-icon>
        </button>
    </header>
    
    <form [formGroup]="form" class="attach-document-wrapper">
        <button 
            mat-raised-button
            [disabled]="processing"
            color="primary"
            (click)="onAttachDocument()">
            {{ data.multiple ? 'Browse For Documents' : 'Browse For A Document' }}
        </button>            

        <div class="upload-document-input">
            <input 
                formControlName="Document"
                id="file" 
                #attachDocumentInput
                type="file" 
                [multiple]="data.multiple"
                accept=".pdf" 
                (change)="onFileChange($event)">

            <div *ngIf="(f.Document.touched && f.Document.invalid) || !files.length">
                <div class="error-msg">Please upload .pdf format {{ data.multiple ? 'documents' : 'document' }}.</div>
            </div>
        </div>  
        
        <article *ngIf="files.length">

            <div *ngFor="let file of files; let i = index" class="fadeInUp _delay{{ i + 1}}ms">
                <span>{{ file.Filename }}</span>

                <button mat-button (click)="onRemoveDocument(file)">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
    
        </article>
    </form>
    
    <div class="last-step-btn-container">
        <button 
            color="primary" 
            mat-raised-button 
            [disabled]="form.invalid || processing" 
            (click)="onAttach()">
            Attach
        </button>
    </div>     
</main>