main {    
    height: 100%;
    max-width: 100%;
    width: 1170px;
    margin: auto;         
    // display: flex;
    // flex-direction: column;
    // justify-content: center;    
    // gap: 0px;

    display: grid;
    align-content: center;
    justify-content: center;   

    section.latest-news-key-services,
    section.tenders-tweets > div {
        display: grid;
        grid-template-columns: 560px auto;
        grid-gap: 40px;    
    }

    section.latest-news-key-services {
        width: 1170px;
        max-width: 100%;
        margin: auto;
        padding: 60px 0px 60px;
    }

    section.tenders-tweets {
        background-color: #efefef;
        padding: 60px 0px 70px;

        div {
            width: 1170px;
            max-width: 100%;
            margin: auto;
        }
    }
}

/* 

    MEDIA QUERIES 

*/
@media (max-width: 1210px) {
    main {
        
        section.tenders-tweets > div,
        app-mission-vision-values,
        section.latest-news-key-services {
            width: calc(100vw - 3%);
        }
    }
}

@media (max-width: 1180px) {
    main {

        section.latest-news-key-services {
            grid-gap: 10px;
        }
    }
}

@media (max-width: 1158px) {
    main {

        section.latest-news-key-services {
            grid-gap: 0px;

            app-key-services {
                margin-left: -20px;
            }
        }
    }
}

@media (max-width: 1125px) {
    main {

        section.latest-news-key-services {
            grid-gap: 40px;
            grid-template-columns: auto;
            margin-bottom: -50px;
            padding-top: 0px;
            width: 100vw;
        }
    }
}

@media(max-width: 1000px) {
    main {

        section.tenders-tweets > div,
        app-mission-vision-values {
            width: calc(100vw - 30px);
            gap: 15px;
        }

        section.tenders-tweets {
            
            div {
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                gap: 50px 15px;
            }
        }
    }
}
