<main>
    <div *ngIf="processing" class="mat-progress-bar-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <header>
        <button [disabled]="processing" *ngIf="!printNIN || data" matTooltip="Close the window" mat-button (click)="onCloseDialog()">
            <mat-icon>clear</mat-icon>
        </button>

        <h1 *ngIf="!printNIN">Print NIN Slip</h1>

        <p *ngIf="!printNIN">
            Please fill in all the fields that are marked required.
        </p>
    </header>

    <mat-horizontal-stepper 
        [linear]="isLinear"
        *ngIf="!printNIN"
        [selectedIndex]="selectedIndex"
        labelPosition="bottom" #stepper>

        <mat-step [stepControl]="formStatus">
            <ng-template matStepLabel>
                <h3>Child</h3>
                <p>Use the Application ID No. <br /> or the Child's Name</p>
            </ng-template>

            <form [formGroup]="form">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Application ID Number </mat-label>
                    <input appUppercase appRemoveSpaces matInput placeholder="" maxlength="13" formControlName="ApplicationID">
                    <mat-error *ngIf="form.get('ApplicationID').invalid">{{ getApplicationIDErrorMessage() }}</mat-error>                                
                </mat-form-field>    

                <div class="group-divider full-width">
                    <hr />
                    <p>Or</p>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Surname </mat-label>
                    <input appRemoveSpaces matInput placeholder="" maxlength="20" formControlName="Surname">
                    <mat-error *ngIf="form.get('Surname').invalid">{{ getSurnameErrorMessage() }}</mat-error>                                
                </mat-form-field>    

                <mat-form-field appearance="outline">
                    <mat-label>Given Name </mat-label>
                    <input matInput placeholder="" maxlength="30" formControlName="GivenName">
                    <mat-error *ngIf="form.get('GivenName').invalid">{{ getGivenNameErrorMessage() }}</mat-error>                                
                </mat-form-field>    
                        
                <mat-form-field appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [max]="today" formControlName="DateOfBirth" [matDatepicker]="dob">
                    <mat-datepicker-toggle color="primary" matSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker color="primary" #dob disabled="false"></mat-datepicker> 
                    <mat-hint align="end">Use the icon to choose a date</mat-hint>
                </mat-form-field>  

                <mat-form-field appearance="outline">
                    <mat-label>Choose Parent <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="ParentType">
                        <mat-option value="Mother">Mother</mat-option>
                        <mat-option value="Father">Father</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('ParentType').invalid">{{ getSelectErrorMessage() }}</mat-error>
                </mat-form-field>  

                <mat-form-field class="full-width" appearance="outline" [hintLabel]="'Any of your parents that was indicated on your registration as your Mother or Father'">
                    <mat-label>Parent's Surname </mat-label>
                    <input appRemoveSpaces matInput placeholder="" maxlength="13" formControlName="ParentSurname">
                    <mat-error *ngIf="form.get('ParentSurname').invalid">{{ getParentSurnameErrorMessage() }}</mat-error>                                
                </mat-form-field>   
                
                <section class="full-width error-section fadeInDown _delay4ms" *ngIf="processed && !isValid">
                   
                    <p> {{ errorMessage }} </p>

                </section>                
            </form>

            <div class="button-wrapper single-button-end">
                <button 
                    mat-raised-button 
                    [disabled]="processing || (!form.get('ApplicationID').value && !ChildBioData) || form.invalid" 
                    class="next-btn" 
                    color="primary"
                    (click)="onCheckUserData()">
                    Send                    
                </button>
            </div>             
        </mat-step> 

        <mat-step>
            <ng-template matStepLabel>
                <h3>NIN Slip</h3>
                <p>Print the NIN Slip</p>                
            </ng-template>

            <article 
                *ngIf="ApplicationStatus"
                class="nin-slip" 
                style="font-family: Tahoma; display: grid; grid-template-columns: repeat(auto-fit, minmax(290px,1fr)); align-items: center;">

                <div class="image-wrapper" style="width: 250px; overflow: hidden; margin: auto; grid-column: 1/-1;">
                    <img src="./assets/exports/nira_logo_black@2x.png" style="width: 100%; " alt="">
                </div>

                <h1 style="grid-column: 1/-1; text-align: center; border-bottom: 1px solid #aeaeae; padding-bottom: 20px;text-transform: uppercase;font-size: 14px;">National Identification Number SLIP</h1>

                <section>

                    <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                        <span>APP ID:</span>
                        <b>{{ ApplicationStatus.ApplicationID }}</b>
                    </p>

                    <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                        <span>NIN:</span>
                        <b>{{ ApplicationStatus.NIN }}</b>
                    </p>

                    <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                        <span>SURNAME:</span>
                        <b>{{ ApplicationStatus.Surname }}</b>
                    </p>

                    <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                        <span>GIVE NAME:</span>
                        <b>{{ ApplicationStatus.Givenname }}</b>
                    </p>

                    <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                        <span>OTHER NAME:</span>
                        <b>{{ ApplicationStatus.Othername }}</b>
                    </p>

                    <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                        <span>DATE OF BIRTH:</span>
                        <b>{{ ApplicationStatus.DateOfBirth | date : 'dd' }} <sup style="margin-left: -4px;">{{ getDateSuperscript(ApplicationStatus.DateOfBirth) }}</sup> {{ ApplicationStatus.DateOfBirth | date : 'MMMM YYYY ' }}</b>
                    </p>

                </section>

                <section style="justify-self: center;">

                    <qrcode 
                        [errorCorrectionLevel]="'M'" 
                        [qrdata]="QRCodeData" 
                        [margin]="2" 
                        [width]="150">
                    </qrcode>

                    <h2 style="font-size: 11px;text-align: center;margin: -5px 0px 0px;font-weight: 800;">{{ this.ApplicationStatus.ReferenceNo }}</h2>

                </section>

                <footer 
                    class="footer"
                    style="grid-column: 1/-1; display: flex;flex-direction: column; align-items: baseline; justify-content: space-between; border-top: 1px solid #aeaeae; margin-top: 14px;">

                    <!-- <img src="./assets/images/ED Signature.fw.png" style="margin: 0 auto -15px auto;" alt="ED's Signature">

                    <p class="signatory" style="font-size: 16px; margin: 0px 0px 5px;width: 100%;text-align: center;">Rosemary Kisembo</p>
        
                    <h2 class="signatory-role" style="font-size: 16px; text-transform: uppercase; margin: 0px; font-size: 17px;text-align: center;width: 100%;">Executive Director <br /></h2> -->
            
                    <p style="text-align: center; font-weight: 400; opacity: .7; color: #000; font-size: 12px;">
                        When you turn 16 years, kindly visit the nearest NIRA office for update of your information for your National ID to be printed.
                        This document does not amount to nor substitute a birth certificate
                    </p>               

                </footer>

            </article>

            <div class="button-wrapper">
                <button mat-button class="back-btn" matStepperPrevious>Back</button>   
                <button mat-raised-button color="primary" (click)="onPrint()">Print NIN Slip</button>   
            </div>            
        </mat-step>
    </mat-horizontal-stepper>     
    
    <article 
        *ngIf="printNIN"
        id="letterBodyContainer"
        class="nin-slip" 
        style="width: 100%; margin: 30px 0px; position: relative; font-family: Tahoma;">

        <div class="image-wrapper" style="width: 250px; overflow: hidden; margin: auto; grid-column: 1/-1;">
            <img src="./assets/exports/nira_logo_black@2x.png" style="width: 100%; " alt="">
        </div>

        <h1 style="grid-column: 1/-1; text-align: center; border-bottom: 1px solid #aeaeae; padding-bottom: 20px;text-transform: uppercase;font-size: 14px;">National Identification Number SLIP</h1>

        <section 
            class="letter-body" 
            *ngIf="!processing" 
            [ngStyle]="{'padding': printNIN && !data ? '5px 60px 15px' : '5px 20px 15px'}"
            style="display: grid; grid-template-columns: repeat(auto-fit, minmax(290px,1fr)); align-items: center;">
        
            <section *ngIf="ApplicationStatus && isValid">
    
                <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                    <span>APP ID:</span>
                    <b>{{ ApplicationStatus.ApplicationID }}</b>
                </p>
    
                <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                    <span>NIN:</span>
                    <b>{{ ApplicationStatus.NIN }}</b>
                </p>
    
                <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                    <span>SURNAME:</span>
                    <b>{{ ApplicationStatus.Surname }}</b>
                </p>
    
                <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                    <span>GIVE NAME:</span>
                    <b>{{ ApplicationStatus.Givenname }}</b>
                </p>
    
                <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                    <span>OTHER NAME:</span>
                    <b>{{ ApplicationStatus.Othername }}</b>
                </p>
    
                <p style="display: grid; grid-template-columns: 110px auto; font-size: 13px;align-content: center;align-items: flex-end;gap: 5px;">
                    <span>DATE OF BIRTH:</span>
                    <b>{{ ApplicationStatus.DateOfBirth | date : 'dd' }} <sup style="margin-left: -4px;">{{ getDateSuperscript(ApplicationStatus.DateOfBirth) }}</sup> {{ ApplicationStatus.DateOfBirth | date : 'MMMM YYYY ' }}</b>
                </p>
    
            </section>

            <section *ngIf="!processing && !isValid" class="not-valid">
                This <b>NIN Slip</b> is not valid. Please make sure you have entered the correct information
                and try again.
            </section>
    
            <section style="justify-self: center;">
    
                <qrcode 
                    *ngIf="!data"
                    [errorCorrectionLevel]="'M'" 
                    [qrdata]="QRCodeData" 
                    [margin]="2" 
                    [width]="150">
                </qrcode>

                <h2 *ngIf="!data" style="font-size: 11px;text-align: center;margin: -5px 0px 0px;font-weight: 800;">{{ this.ApplicationStatus.ReferenceNo }}</h2>

                <div *ngIf="data">
                    <img *ngIf="isValid" class="valid-document-image fadeInRight _delay4ms" src="./assets/images/approved_4.fw.png" />

                    <mat-icon class="not-valid" *ngIf="!isValid">block</mat-icon>
                </div> 
                
            </section>

            <p *ngIf="!printNIN && !processing && isValid" style="grid-column: 1/-1;text-align: center;margin: 15px 0px 0px;">The NIN Slip was generated on 
                <b>{{ ApplicationStatus.GeneratedOn | date : 'dd' }} <sup style="margin-left: -4px;">{{ getDateSuperscript(ApplicationStatus.GeneratedOn) }}</sup> {{ ApplicationStatus.GeneratedOn | date : 'MMMM YYYY ' }}</b>
            </p>
            
        </section>
        
        <footer 
            *ngIf="!processing && isValid"
            class="footer"
            style="grid-column: 1/-1; display: flex;flex-direction: column; align-items: baseline; justify-content: space-between; border-top: 1px solid #aeaeae; padding: 10px 60px 0px;">

            <!-- <img src="./assets/images/ED Signature.fw.png" style="margin: 0 auto -15px auto;" alt="ED's Signature">

            <p class="signatory" style="font-size: 16px; margin: 0px 0px 5px;width: 100%;text-align: center;">Rosemary Kisembo</p>

            <h2 class="signatory-role" style="font-size: 16px; text-transform: uppercase; margin: 0px; font-size: 17px;text-align: center;width: 100%;">Executive Director <br /></h2> -->

            <p style="text-align: center; font-weight: 400; opacity: .7; color: #000; font-size: 12px;">
                When you turn 16 years, kindly visit the nearest NIRA office for update of your information for your National ID to be printed.
                This document does not amount to nor substitute a birth certificate                
            </p>

        </footer>

    </article>    
</main>

<!-- 
    In process, 
    Rejected, 
    Rectification Required, 
    Approved, 
    Card ready for issuance, 
    Card issued.
-->