main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button.close-window-btn {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0px;
        width: 44px;
        height: 44px;
        min-width: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;            
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px 24px 0px 24px;
        
        h1 {
            font-size: 18px;
            margin: 0px 0px 5px;
            font-weight: 400;
        }

        p {
            font-size: 13px;
            font-weight: 300;
            text-align: justify;
            color: #bf212f;
            line-height: 22px;
            margin: 5px 0px 0px 0px;     
        }        
    }

    mat-horizontal-stepper {
        max-width: 100%;
        width: 100%;
        margin: auto;
        background-color: #fff;
        
        .mat-checkbox {
            padding: 10px 15px;
        }

        form {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px 30px;   

            .full-width {
                grid-column: 1/-1;
            }

            div.grouped-items {
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                h3 {
                    margin: 0px 0px 0px;
                }
                
                mat-radio-group {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 40px;                    
                }
            }   
        }

        section {
            overflow: hidden;
            text-align: justify;
            font-weight: 300;
            color: #3f3f3f;
            line-height: 1.688;     
            padding-right: 5px;   
            background-color: transparent;
            
            h2 {
                margin: 25px 0px -3px 0px;
                font-weight: 500;
                text-transform: capitalize;          
            }
    
            ol {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-inline-start: 15px;            
            }
    
            ul {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-inline-start: 29px;
                list-style: square;
                margin-bottom: 10px;            
            }
    
            b {
                font-weight: 600;
            }
        }
    

        .button-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 25px;

            button {
                min-width: 100px !important;
                border-radius: 0px;
                
                &:disabled {
                    opacity: .5;
                    color: #333 !important;
                }
            }
            
            button.back-btn {
                background-color: #ebebeb;
                color: #333;
            }
      
        }

        .single-button-end {
            justify-content: flex-end;
        }

        .single-button-start {
            justify-content: flex-start;
        }
    }   
}

/* MEDIA QUERIES */
@media (max-width: 647px) {

    main {
    
        mat-horizontal-stepper {

            .form-nin {
               
                p {
                    margin: -20px 0px 5px 0px;
                    grid-row: 2;
                }
            }    
        }    
    }    
}