<main>
    <div class="mat-progress-bar-container">
        <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
    </div> 

    <header>
        <button mat-button matTooltip="Close window" class="close-window-btn" (click)="onCloseDialog()">
            <mat-icon>clear</mat-icon>
        </button>  
                
        <h1>Birth Registration Song And Poem Composition 2021</h1>
    </header>

    <mat-horizontal-stepper 
        [linear]="isLinear"
        labelPosition="bottom" 
        #stepper>

        <mat-step [stepControl]="termsAndCondition">
            <ng-template matStepLabel>
                <h3>Guidelines</h3>
            </ng-template>

            <section class="scrollbar">
                <p>
                    Everyday of the year, a child is born; a precious, special and 
                    beautiful gift, one of a kind. In Africa, we celebrate the birth 
                    of a child with music, dance and poetry.            
                </p>
        
                <p>
                    NIRA recognizes the birth of each child through the child’s registration 
                    and assignment of a unique identification number upon registration.
                </p>
        
                <p>
                    In the Month of December 2021, NIRA will invite children between 5 to 16 years, 
                    to enter a national song and poem competition of not longer than 2 minutes 
                    on birth notification, registration or certification. The song should 
                    capture key aspects of notification, registration and certification of 
                    births and indicated in how to register birth and death guide.
                    <a href="https://www.nira.go.ug/media/2021/09/How-to-register-Births-and-Deaths.pdf" target="_blank" download="How to register Births and Deaths Guide">Click here to download</a>.           
                </p>
                
                <h2>Guidelines for entries</h2>
        
                <ol>
                    <li>Compositions may be done individually or in groups.</li>
                    <li>All songs and poems submitted must be original and never performed before</li>
                    <li>The song or poem must be NOT be more than 2 minutes long</li>
                    <li>The composer(s) of the song or poem must be willing to surrender the Intellectual Property Rights (IPR) for the composition to NIRA.</li>
                    <li>The parent/s or persons with parental responsibility of the child of all the entrants will be required to sign deed of assignment of IP rights</li>
                    <li>
                        <b> 1st, 2nd and 3rd runner </b>ups in the following age categories will be recognized and a small token of appreciation provided towards the child’s school fees
                        <ul>
                            <li>5 -8 years</li>
                            <li>9-12 years</li>
                            <li>13-16 years</li>
                        </ul>
                    </li>
                    <li>The best selected song(s) or poem(s) will subsequently be used to promote birth notification, registration and certification</li>
                    <li>Songs and poems can be composed in any of the languages recognized in Uganda</li>
                    <li>Entrants for the competition should clearly indicate if they are registering as individuals or groups</li>
                </ol>
        
                <p>
                    You can track this event on our Website <a href="https://www.nira.go.ug">www.nira.go.ug</a> and social media platforms under the hashtag
                    <i><b>#birthsong</b></i>
                </p>

                <mat-checkbox
                    color="primary"
                    [required]="'false'"
                    [formControl]="termsAndCondition">
                    Click to accept Terms and Conditions
                </mat-checkbox>                   
            </section>

            <div class="button-wrapper single-button-end">
                <button
                    mat-raised-button 
                    [disabled]="termsAndCondition.invalid || processing" 
                    class="next-btn" 
                    matStepperNext
                    color="primary">
                    Next
                </button>
            </div>             
        </mat-step>

        <mat-step [stepControl]="formRegistration">
            <ng-template matStepLabel>
                <h3>Register</h3>
            </ng-template>

            <form [formGroup]="formRegistration" class="form-two">
                <mat-form-field appearance="outline">
                    <mat-label>Register As <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="RegisterAs">
                        <mat-option value="Individual">Individual</mat-option>
                        <mat-option value="Group">Group</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formRegistration.get('RegisterAs').invalid">{{ getSelectErrorMessage() }}</mat-error>
                </mat-form-field>                  
        
                <mat-form-field appearance="outline">
                    <mat-label>Name of the Individual / Group <span class="required-field">required</span></mat-label>
                    <input matInput formControlName="Name" maxlength="50">
                    <mat-error *ngIf="formRegistration.get('Name').invalid">{{ getNameErrorMessage() }}</mat-error>
                </mat-form-field>                
                
                <mat-form-field appearance="outline">
                    <mat-label>Age Category <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="AgeCategory">
                        <mat-option value="5 - 8 years">5 - 8 years</mat-option>
                        <mat-option value="9 - 12 years">9 - 12 years</mat-option>
                        <mat-option value="13 - 16 years">13 - 16 years</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formRegistration.get('AgeCategory').invalid">{{ getSelectErrorMessage() }}</mat-error>
                </mat-form-field>   
                
                <mat-form-field appearance="outline">
                    <mat-label>Competition Category <span class="required-field">required</span></mat-label>
                    <mat-select formControlName="CompetitionCategory">
                        <mat-option value="Song">Song</mat-option>
                        <mat-option value="Poem">Poem</mat-option>
                        <mat-option value="Song & Poem">Song & Poem</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formRegistration.get('CompetitionCategory').invalid">{{ getSelectErrorMessage() }}</mat-error>
                </mat-form-field>   
                  
            </form>

            <div class="button-wrapper">
                <button mat-button class="back-btn" matStepperPrevious>Back</button>

                <button 
                    mat-raised-button 
                    [disabled]="processing || formRegistration.invalid || termsAndCondition.invalid"
                    class="next-btn" 
                    color="primary" 
                    (click)="onSubmit()">Send</button>
            </div>
        </mat-step>        
    </mat-horizontal-stepper>    
</main>

<!-- 
    In process, 
    Rejected, 
    Rectification Required, 
    Approved, 
    Card ready for issuance, 
    Card issued.
-->