main {
    background-color: #efefef;
    background-color: #FFF;

    article {
        display: grid;
        grid-template-columns: auto 290px;
        padding: 30px 0px 60px;
        gap: 60px;
        padding: 40px 0px;
        width: 1170px;
        max-width: 100%;
        margin: auto;

        section.dynamic {
            display: flex;
            flex-direction: column;
            gap: 25px;

            div.image-wrapper {
                width: 100%;
                display: flex;
                align-content: center;
                justify-content: center;
                overflow: hidden;
                flex-direction: column;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                    filter: saturate(1.1);
                }

                div.date {
                    position: absolute;
                    background: #d21e2b;
                    right: 16px;
                    min-width: 54px;
                    padding: 5px;
                    bottom: 15px;
                    height: -moz-fit-content;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    h3 {
                        color: #fff;
                        font-size: 26px;
                        font-weight: 400;
                        letter-spacing: 2px;
                        border-bottom: 1px solid #fff;
                        margin: 0px;
                        padding-bottom: 4px;                  
                    }

                    p {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 400;
                        margin: 9px;                   
                    }
                }
            }

            h1 {
                text-transform: uppercase;
                color: #111;
                font-size: 23px;
                font-weight: 400;
                margin: 0px;
                
                span {
                    font-weight: 300;
                }
            }

            div.news-time-wrapper {
                display: flex;
                flex-direction: row;
                align-content: center;
                align-items: center;
                gap: 5px;
                margin-top: -25px;
                color: #393939;
                font-weight: 200;

                p {

                    &::after {
                        content: "";
                        display: block;
                        width: 80px;
                        height: 2px;
                        background: #d21e2b;
                        margin-top: 8px;                       
                    }
                }
            }

            div.pdf-wrapper {
                font-size: 16px;
                text-align: justify;
                font-weight: 300;
                line-height: 26px;
                color: #262626;
                margin-top: -30px;    
                opacity: .9; 
                
                p {
                    margin-bottom: 40px;
                }
            }
        }     

        aside {
            display: flex;
            flex-direction: column;
            gap: 30px;
    
            .mat-form-field {
                width: 100%;
                height: 40px;
            }   

            section.tenders {
        
                .mat-form-field {
                    width: 100%;
                    max-width: 100%;
                    height: 40px;
                    margin: auto;
                }
        
                table {
                    width: 100%;
                    background-color: transparent;
                    margin-top: 30px;
        
                    tr.mat-header-row {
                        display: none;
                        visibility: hidden;                    
                    }
        
                    th.mat-header-cell, 
                    td.mat-cell, 
                    td.mat-footer-cell {
                        border: 0px !important;
                        height: 100%;
                        padding-right: 0px !important;
                        padding-left: 0px !important;
                    }
        
                    tr.mat-row, 
                    tr.mat-footer-row {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                    }            
                    
                    section {
                        padding: 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        justify-items: center;
                        margin-bottom: 25px;
                        position: relative;
                        overflow: hidden;
                        width: 290px;
                        // height: 230px;
                
                        figure {
                            overflow: hidden;
                            margin-inline-end: 0px;
                            margin-block-start: 0px;
                            margin-block-end: 0px;
                            margin-inline-start: 0px;
                            grid-row: span 2;
                            transition: all 500ms ease-in-out;
                            // height: 100%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                height: auto;
                                width: 100%;
                                transition: all 500ms ease-in-out;
                            }
                        }

                        p.title {
                            line-height: 20px !important;
                            text-transform: capitalize;
                            color: #e9e9e9;
                            font-size: 15px;
                            margin: 0px;
                            position: absolute;
                            bottom: 0;
                            background-color: #000000b8;
                            padding: 6px 10px 8px;
                            box-shadow: 0px 9px 27px 29px #000000c2;
                        }  

                        div.date {
                            position: absolute;
                            background: #262626;
                            right: 8px;
                            min-width: 54px;
                            padding: 3px 1px;
                            top: 7px;
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            transition: all 500ms ease-in-out;
        
                            h3 {
                                color: #fff;
                                font-size: 18px;
                                font-weight: 400;
                                letter-spacing: 2px;
                                border-bottom: 1px solid #fff;
                                margin: 2px auto 0px;
                                padding-bottom: 6px;
                                width: 83%;               
                            }
        
                            p {
                                color: #fff;
                                font-size: 13px;
                                font-weight: 400;
                                margin: 5px 5px 8px;                 
                            }
                        }

                        &:hover {
                            cursor: pointer;

                            figure {

                                img {
                                    transform: scale(1.4);
                                }
                            }

                            p.title {
                                color: #fff;
                            }

                            div.date {
                                background: #d21e2b;
                            }                            
                        }
                    }  

                    section.selected {
                        cursor: pointer;

                        figure {

                            img {
                                filter: saturate(1.4);
                            }
                        }

                        p.title {
                            color: #fff;
                        }

                        div.date {
                            background: #d21e2b;
                        }    
                    }                 
                }

                mat-paginator {
                    margin-top: 5px;
                }
            } 
        }    
    }
}

/* MEDIA QUERIES */
@media(max-width: 1207px) {
    main {

        article {
            width: calc(100vw - 3%);
            gap: 40px;
        }
    }
}

@media(max-width: 1024px) {
    main {

        article {

            section.dynamic {
    
                h1 {
                    font-size: 20px;
                }              
            }            
        }
    }
}

@media(max-width: 930px) {
    main {

        article {
            width: calc(100vw - 30px);
            display: flex;
            flex-direction: column;
            padding: 40px 0px 20px;
            gap: 30px;  
            
            section.dynamic {

                div.image-wrapper {
                    margin: -42px 0px 0px -15px;
                    width: 100vw;
                }
            }

            aside {
                
                section.tenders {
            
                    table {

                        section {
                            width: 100%;     
                        }      
                    }      
                }      
            }      
        }
    }
}

@media(max-width: 509px) {
    main {

        article {
    
            aside {
                
                section.tenders {
            
                    table {

                        section {
    
                            p.title {
                                width: calc(100vw - 56px);
                                padding: 6px 10px 14px;
                            }       
                        }       
                    }      
                }      
            }  
        }  
    }
}