<main>
    <button mat-button class="close-dialog" (click)="onCloseDialog()">
        <mat-icon>clear</mat-icon>
    </button>

    <h1 class="fadeInUp _delay2ms">
        Birth, Death & Adoption Registration System
    </h1>

    <p class="fadeInUp _delay2ms"> {{ !passwordReset ? 'Please login with your Username &  Password' : 'Please provide your Email Address' }}</p>

    <form>
        <mat-form-field class="fadeInUp _delay3ms">
            <mat-label>{{!passwordReset ? 'Username' : 'Email'}}</mat-label>
            <input matInput placeholder="Enter your username" [formControl]="userEmail" [disabled]="processing">
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error *ngIf="userEmail.invalid">{{ getEmailErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="fadeInUp _delay4ms" *ngIf="!passwordReset">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" [formControl]="password" [type]=" !hide ? 'password' : 'text'" [disabled]="processing">
            <mat-icon matSuffix (click)="hide = !hide">{{ !hide ? 'visibility' : 'visibility_off' }}</mat-icon>
            <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
        </mat-form-field> 

        <div class="action-btn-wrapper fadeInUp _delay5ms">
            <button 
                [ngClass]="{'inline-processing-btn': processing}" 
                mat-raised-button 
                color='primary' 
                *ngIf="!passwordReset"
                (click)="onLogin()">
                <span *ngIf="!processing">Login</span>
                <app-inline-mat-spinner *ngIf="processing"></app-inline-mat-spinner>      
            </button>

            <button [ngClass]="{'inline-processing-btn': processing}" mat-raised-button color='primary' class="fadeInUp _delay3ms" *ngIf="passwordReset" (click)="onPasswordReset()" [disabled]="processing || userEmail.invalid">      
                <span *ngIf="!processing">Send Request</span>
                <app-inline-mat-spinner *ngIf="processing"></app-inline-mat-spinner>      
            </button>

            <button mat-button class="reset" [matTooltip]="!passwordReset ? 'Request a password reset' : ''" (click)="passwordReset = !passwordReset" [disabled]="processing">
                {{ !passwordReset ? 'Forgot Password ?' : 'Cancel' }}
            </button>                        
        </div>
    </form>
</main>