<main>
    <div class="mat-progress-bar-container">
        <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
    </div>

    <header>
        <button mat-button matTooltip="Close window" class="close-window-btn" (click)="onCloseDialog()">
            <mat-icon>clear</mat-icon>
        </button>  
                
        <h1>#birthsong</h1>
        
        <h2>NIRA Birth Registration Song And Poem Composition 2021</h2>

        <!-- <p>
            <i>
                You are required to register online in order to participate. The registration will run 
                up to 30th November 2021 and successful applicants shall be contacted by a NIRA officer.            
            </i>            
        </p> -->
    </header>

    <section class="scrollbar">
        <p>
            Everyday of the year, a child is born; a precious, special and 
            beautiful gift, one of a kind. In Africa, we celebrate the birth 
            of a child with music, dance and poetry.            
        </p>

        <p>
            NIRA recognizes the birth of each child through the child’s registration 
            and assignment of a unique identification number upon registration.
        </p>

        <p>
            Starting 15th November 2021, NIRA invites children between 5 to 16 years, 
            to enter a national song and poem competition of not longer than 2 minutes 
            on birth notification, registration or certification. The song should 
            capture key aspects of notification, registration and certification of 
            births and indicated in how to register birth and death guide.
            <a href="https://www.nira.go.ug/media/2021/09/How-to-register-Births-and-Deaths.pdf" target="_blank" download="How to register Births and Deaths Guide">Click here to download</a>. 
            The competition closes on 6th December 2021.            
        </p>
        
        <h2>Guidelines for entries</h2>

        <ol>
            <li>Compositions may be done individually or in groups.</li>
            <li>All songs and poems submitted must be original and never performed before</li>
            <li>The song or poem must be NOT be more than 2 minutes long</li>
            <li>The composer(s) of the song or poem must be willing to surrender the Intellectual Property Rights (IPR) for the composition to NIRA.</li>
            <li>The parent/s or persons with parental responsibility of the child of all the entrants will be required to sign deed of assignment of IP rights</li>
            <li>
                <b> 1st, 2nd and 3rd runner </b>ups in the following age categories will be recognized and a small token of appreciation provided towards the child’s school fees
                <ul>
                    <li>5 -8 years</li>
                    <li>9-12 years</li>
                    <li>13-16 years</li>
                </ul>
            </li>
            <li>The best selected song(s) or poem(s) will subsequently be used to promote birth notification, registration and certification</li>
            <li>Songs and poems can be composed in any of the languages recognized in Uganda</li>
            <li>Entrants for the competition should clearly indicate if they are registering as individuals or groups</li>
        </ol>

        <p>
            The final competition to select the best songs will be held on 30th November 2021.            
        </p>

        <p>
            You can track this event on our Website <a href="https://www.nira.go.ug">www.nira.go.ug</a> and social media platforms under the hashtag
            <i><b>#birthsong</b></i>
        </p>
    </section>

    <form [formGroup]="form">
        <p>
            <i>
                Register below in order to participate. The registration 
                will run up to 30th November 2021 and successful applicants 
                shall be contacted by a NIRA officer.            
            </i>            
        </p>

        <div class="grouped-items">
            <h3>Register As</h3>

            <mat-radio-group color="primary" aria-label="Pick one">
                <mat-radio-button value="Individual">Individual</mat-radio-button>
                <mat-radio-button value="Group">Group</mat-radio-button>
            </mat-radio-group>        
        </div>        

        <mat-form-field appearance="outline">
            <mat-label>Name of the Individual / Group <span class="required-field">required</span></mat-label>
            <input appRemoveSpaces matInput formControlName="OtherNameOfChild">
        </mat-form-field>          

        <div class="grouped-items">
            <h3>Age Category</h3>

            <mat-radio-group color="primary" aria-label="Pick one">
                <mat-radio-button value="5 - 8 years">5 - 8 years</mat-radio-button>
                <mat-radio-button value="9 - 12 years">9 - 12 years</mat-radio-button>
                <mat-radio-button value="13 - 16 years">13 - 16 years</mat-radio-button>
            </mat-radio-group>        
        </div>            
        
        <mat-form-field appearance="outline">
            <mat-label>Competition Category <span class="required-field">required</span></mat-label>
            <mat-select formControlName="NotifierDeclarationCapacity">
                <mat-option value="Song">Song</mat-option>
                <mat-option value="Poem">Poem</mat-option>
                <mat-option value="Song & Poem">Song & Poem</mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="formNotifier.get('NotifierDeclarationCapacity').invalid">{{ getSelectErrorMessage() }}</mat-error> -->
        </mat-form-field>           

        <mat-checkbox
            color="primary"
            [required]="'false'">
            Click to accept Terms and Conditions
        </mat-checkbox>            

        <div class="button-wrapper">
            <button mat-button class="back-btn">Clear</button>

            <button 
                mat-raised-button 
                [disabled]="processing"
                class="next-btn" 
                [ngClass]="{'inline-processing-btn': processing }" 
                color="primary" 
                (click)="onSubmit()">
                <div class="btn-label">
                    <app-inline-mat-spinner *ngIf="processing"></app-inline-mat-spinner>                        
                    <span>Submit</span>
                </div>
            </button>            
        </div>

    </form>

</main>
