<main> 

    <article>

        <section>
    
            <h3>Mission</h3>
    
            <p>
                “To enhance growth, development and security of all people 
                through complete Identification and Registration”.
            </p>
    
        </section>
    
        <section>
    
            <h3>Vision</h3>
    
            <p>
                <b>To ensure accurate, valid and secure data with utmost integrity</b>
            </p>
    
        </section>
    
        <section>
    
            <h3>Values <b>(IAAD)</b></h3>
    
            <ul>
                <li>
                    <b>I</b>ntegrity
                </li>
                <li>
                    <b>A</b>ccuracy
                </li>
                <li>
                    <b>A</b>ccountability
                </li>
                <li>
                    <b>D</b>ata Security
                </li>
            </ul>
    
        </section>

    </article>

</main>