main {
    position: relative;
    background-color: #fff;
    padding: 0 0 30px;
    width: 100vw; 

    article {
        width: 1170px;
        max-width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-gap: 50px 130px;
        padding-top: 15px;

        section {

            h3 {
                font-size: 20px;
                font-weight: 400;
                color: #2A2A2A;
                line-height: 1;           

                &::after {
                    content: '';
                    display: block;
                    width: 70px;
                    height: 3px;
                    background: #d21e2b;
                    margin-top: 12px;                
                }
            }            
            
            p {
                color: #3f3f3f;
                line-height: 1.688;
                margin-bottom: 20px;   
                text-align: justify;                 

                &:first-child {
                    margin-bottom: 35px;                        
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            ul {
                padding-inline-start: 20px;
                gap: 25px;
                list-style: square;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-gap: 12px 70px;

                li {
                    color: #3f3f3f;
                    line-height: 1.8; 
                }
            }
            
            p,
            ul, li {
                font-weight: 200;
            }
        }        
    }
}

/* 
    
    MEDIA QUERIES
    
*/
@media (max-width: 1180px) {
    main {

        article {
            padding-left: 20px;
        }
    }
}

@media (max-width: 1125px) {
    main {
        margin-top: 40px;
    }
}

@media (max-width: 980px) {
    main {

        article {
            grid-gap: 40px 60px;
        }
    }
}

@media (max-width: 839px) {
    main {

        article {
            grid-gap: 30px 60px;
            margin-top: 20px;
            padding-bottom: 40px;

            section {

                &:nth-child(2) {
                    padding-right: 40px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    main {
        padding-top: 0px;
        margin-top: 30px;
        padding-bottom: 0px;

        article {
            grid-gap: 50px 60px;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0px 0px 50px;

            section {
                width: calc(100vw - 50px);
                margin: auto;

                h1 {
                    text-align: center;
                }

                ul {
                    grid-gap: 12px 70px;
                }

                &:nth-child(2) {
                    padding-right: 0px;
                }

                &:last-child {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}