<main>
    
    <section>
        <app-page-carousel 
            *ngIf="imageSources.length && !processing" 
            [backgroundColor]="'rgba(255, 254, 38, 0.34)'"
            [size]="205"
            [readMore]="true"
            [imageSources]="imageSources">
        </app-page-carousel>
        <!-- <app-page-carousel 
            *ngIf="imageSources.length && !processing" 
            [backgroundColor]="'rgba(255, 254, 38, 0.34)'"
            [size]="105"
            [readMore]="true"
            [imageSources]="imageSources">
        </app-page-carousel> -->
    </section>

</main>