<app-page-banner [title]="title" [subTitle]="subTitle"></app-page-banner> 

<main>

    <section class="top-header-section">

        <div>

            <h3>
                Ask for your previously captured form information.
                <!-- Ask for your previously captured partial form information. -->
            </h3>

            <mat-form-field appearance="outline">
                <mat-label>Draft Reference Number <span class="required-field">required</span></mat-label>
                <input appRemoveSpaces matInput [formControl]="DraftReferenceNumber">
            </mat-form-field>  
            
            <button mat-raised-button (click)="onGetSavedDraft()">
                Send
            </button>

        </div>

    </section>

    <header class="main-header">

        <p>
            Please use the form below to register a NOTICE OF INTENTION OF CHANGE OF NAME OF ADULT.
            Fill in all the fields that are marked required. In-case you captured some of your information and you
            saved a draft. Please enter your draft reference number above to retrieve the information.
        </p>

    </header>

    <mat-horizontal-stepper 
        [linear]="isLinear" 
        labelPosition="bottom" #stepper>

        <!-- <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup"> -->
        <mat-step>
            <ng-template matStepLabel>
                <h3>NIN</h3>
                <p>The National Identification Number.</p>                
            </ng-template>

            <form [formGroup]="formNIN">         
                <mat-form-field appearance="outline">
                    <mat-label>National ID Number (NIN) <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput placeholder="" formControlName="NIN">
                </mat-form-field>                                                

                <mat-form-field appearance="outline">
                    <mat-label>Card Number <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput placeholder="" formControlName="CardNumber">
                </mat-form-field>    
            </form>

            <div class="button-wrapper single-button">
                <button mat-button class="next-btn" color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <h3>PREVIOUS NAME</h3>
                <p>The current name being used.</p>                
            </ng-template>

            <form [formGroup]="formPreviousName">         
                <mat-form-field appearance="outline">
                    <mat-label>Surname <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="PreviousSurname">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Given Name <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="PreviousGivenName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Other Name <span class="optional-field">optional</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="PreviousOtherName">
                </mat-form-field>
            </form>

            <div class="button-wrapper single-button">
                <button mat-button class="next-btn" color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <h3>NEW NAME</h3>
                <p>The name you want to change to.</p>                
            </ng-template>

            <form [formGroup]="formNewName">
                <mat-form-field appearance="outline">
                    <mat-label>Surname <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="NewSurname">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Given Name <span class="required-field">required</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="NewGivenName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Other Name <span class="optional-field">optional</span></mat-label>
                    <input appRemoveSpaces matInput formControlName="NewOtherName">
                </mat-form-field>      
            </form>

            <div class="button-wrapper">
                <button mat-button class="back-btn" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" (click)="onSubmit()">Submit to NIRA</button>
            </div>            
        </mat-step>
    </mat-horizontal-stepper>          

</main>