<!-- <main>

    <h3>Tweets</h3>

    <mat-card>

        <ngx-twitter-timeline 
            [data]="data"
            [opts]="opts">
        </ngx-twitter-timeline>

    </mat-card>

</main> -->

<mat-card>
    <!-- <a class="twitter-block" 
        data-height="577"
        data-tweet-limit="5"
        data-theme="dark"
        href="https://twitter.com/NIRA_Ug?ref_src=twsrc%5Etfw">
        Tweets by NIRA_Ug
    </a>

    <a 
        href="https://twitter.com/NIRA_Ug?ref_src=twsrc%5Etfw" 
        class="twitter-follow-button" 
        data-show-count="false">
        Follow @NIRA_Ug
    </a> -->

    <ngx-twitter-timeline 
        [data]="data"
        [opts]="opts">
    </ngx-twitter-timeline>    
</mat-card>
