main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button.close-window-btn {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0px;
        width: 44px;
        height: 44px;
        min-width: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;            
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px 24px 0px 24px;
        
        h1 {
            font-size: 18px;
            margin: 0px 0px 5px;
            font-weight: 400;
        }

        p {
            font-size: 13px;
            font-weight: 300;
            text-align: justify;
            color: #bf212f;
            line-height: 22px;
            margin: 5px 0px 0px 0px;     
        }        
    }

    mat-horizontal-stepper {
        max-width: 100%;
        width: 100%;
        margin: auto;
        background-color: #fff;
        
        form {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px 30px;   

            .full-width {
                grid-column: 1/-1;
            }
        }

        // form.form-one {
        //     grid-template-columns: auto;
        // }

        form.otp {
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            gap: 15px;

            .mat-form-field {

                input {
                    font-size: 35px !important;
                    text-align: center;
                    padding: 0px;
                    margin-top: -5px;                     
                }
            }            
        }

        .form-nin {
            // display: flex;
            // flex-direction: column;
            // gap: 0px 0px;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

            .mat-form-field {

                mat-icon {
                    color: red;
                    position: absolute;
                    border-radius: 50%;
                    width: 38px;
                    height: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: -2px;
                    top: -1px;
                    background-color: #eee;                    
                }

                mat-icon.valid {
                    color: #1caf9a;
                }
            }

            p {
                margin: -30px 0px 5px 0px;

                b {
                    color: #fff;
                    background-color: #1caf9a;
                    padding: 5px 10px;
                    font-weight: 400;  
                    margin-left: 10px;   
                    text-transform: capitalize;               
                }
            }
        }

        .form-two {
            display: flex;
            flex-direction: column;
            gap: 30px 30px;

            section.generate-prn-btn-wrapper {
                border-bottom: 1px solid #e8eaed;
                align-self: center;
                width: 100%;
                align-items: center;
                padding-bottom: 22px;
                display: grid;
                // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-template-columns: 260px auto;
                gap: 30px 30px;

                button {
                    border-radius: 0px;
                    // margin-bottom: 15px;
                    width: fit-content;
                    width: -moz-fit-content;
                    align-self: center;
                    justify-self: center;                    
                }

                div.prn-reciept {
                    background-color: #eee;
                    position: relative;
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;    
                    align-items: center;                                    

                    button {
                        margin: -10px 0px 16px 0px;
                    }

                    p {
                        display: grid;
                        grid-template-columns: 87px auto;
                        justify-content: flex-start;
                        justify-items: flex-start;
                        align-content: flex-end;
                        width: 200px;
                        font-weight: 300;
                        margin: 0px 0px 10px 0px;
    
                        b {
                            font-weight: 600;
                        }
                    }
    
                    &:before {
                        background: 
                            linear-gradient(-45deg, #eee 16px, red 16px, blue 16px,  transparent 0), 
                            linear-gradient(45deg, #eee 16px, transparent 0);
                        background-position: left top;
                        background-repeat: repeat-x;
                        background-size: 13px 24px;
                        content: " ";
                        display: block;
                        height: 32px;
                        width: 100%;
                        position: relative;
                        bottom: 16px;
                        left: 0;    
                    }
    
                    &:after{
                        background: 
                            linear-gradient(-45deg, transparent 16px, #dfdfdf 0), 
                            linear-gradient(45deg, transparent 16px, #dfdfdf  0);
                        background-repeat: repeat-x;
                        background-position: left bottom;
                        background-size: 13px 24px;
                        content: "";
                        display: block;
                        width: 100%;
                        height: 32px;
                        position: relative;
                        top: 18px;
                        left: 0px;
                    }
                }
            }

            p.label {
                margin: 0px 0px -17px 0px;                
            }

            section.error-section {
                margin: -21px 0px 10px;
                background-color: #1d1d1de8;
                padding: 5px 20px;
                position: relative;
                border-radius: 2px;

                p {
                    color: #fff;
                    margin: 0px;
                    padding: 11px 0px;
                    font-size: 13px;
                    letter-spacing: 0.6px;
                    font-weight: 100;
                }
            }
        }

        .application-status {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 60%;
            margin: auto;          

            div {
                display: grid;
                grid-template-columns: 156px auto;
                height: 40px;
                align-items: center;

                span {
                    font-weight: 200;
                }

                b {
                    font-weight: 500;
                }
            }

            div.status {

                b {
                    padding: 8px 18px;
                    width: -moz-fit-content;
                    border-radius: 30px;   
                }
                
                b.in-process {
                    background-color: #262626;
                    color: #fff;
                }
                
                b.rejected {
                    background-color: #c02533;
                    color: #fff;
                }
                
                b.approved {
                    background-color: #1caf9a;
                    color: #fff;
                }
            }
        }

        .button-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 25px;

            button {
                min-width: 100px !important;
                border-radius: 0px;
                
                &:disabled {
                    opacity: .5;
                    color: #333 !important;
                }
            }
            
            button.back-btn {
                background-color: #ebebeb;
                color: #333;
            }

            button.donwload-btn,
            button.preview-btn {
                border-radius: 0px;
                padding-right: 0px;
                transition: all 430ms ease-in-out;
    
                .btn-label {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
    
                    span {
                        line-height: 40px;
                    }
    
                    mat-icon {
                        width: 44px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px !important;
                    }
                }
    
                &:hover {
    
                    .btn-label {
    
                        mat-icon {
                            animation-name: flash;
                            animation-duration: 1400ms;
                        }
                    }
                }

                &:disabled {
                    color: #fff !important;
                    opacity: 0.2;
                }
            }      

            button.donwload-btn {
                color: #fff;
                background-color: #BF212F;
                background-color: #1caf9a;
    
                .btn-label {
    
                    mat-icon {
                        background-color: #F91C24;
                        background-color: #008572;
                    }
                }
    
                &:hover {
    
                    .btn-label {
    
                        mat-icon {
                            color: #000;
                        }
                    }
                }
            }            

            button.preview-btn {
                color: #fff;
                background-color: rgb(41, 41, 41);
    
                .btn-label {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
    
                    span {
                        line-height: 40px;
                    }
    
                    mat-icon {
                        background-color: #1e1d1d;
                    }
                }
    
                &:hover {
    
                    .btn-label {
    
                        mat-icon {
                            color: #fff;
                        }
                    }
                }
            }            
        }

        .single-button-end {
            justify-content: flex-end;
        }

        .single-button-start {
            justify-content: flex-start;
        }
    }   
    
    article {
        width: 100%;
        // height: calc(100vh - 60px) !important;
        margin: 30px 0px;
    }
}

/* MEDIA QUERIES */
@media (max-width: 647px) {

    main {
    
        mat-horizontal-stepper {

            .form-nin {
               
                p {
                    margin: -20px 0px 5px 0px;
                    grid-row: 2;
                }
            }    
        }    
    }    
}