<app-page-banner [title]="title"></app-page-banner>   

<main class="fadeInUp _delay3ms">

    <article>

        <section class="dynamic">
            <h1 *ngIf="selected" [innerHTML]="selected.title"></h1>

            <div *ngIf="selected" class="pdf-wrapper">               
                <app-pdf-reader
                    [src]="selected.url"
                    [filename]="selected.title"
                    [unsetPosition]="true"
                    [showCloseBtn]="false">
                </app-pdf-reader>
            </div>
        </section>
        
        <aside>         
            
            <section class="tenders">

                <mat-form-field appearance="fill">
                    <mat-label>Search Publications</mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>               
                  
                <table mat-table [dataSource]="dataSource">
                  
                    <!-- Publication Column -->
                    <ng-container matColumnDef="publication">
                        <th mat-header-cell *matHeaderCellDef> Publication </th>
                        <td mat-cell *matCellDef="let row">
                            <section [ngClass]="{'selected': selected === row}">
                                <p [innerHTML]="row.title | textShortner : 100"></p>

                                <div>
                                    <mat-icon>access_alarm</mat-icon>
                        
                                    <p>{{ row.datePublished | date : 'EEE, MMMM d, yyyy' }}</p>
                                </div>                                   
                            </section>
                        </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectingAPublication(row)"></tr>
                  
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No publications matching the search "{{input.value}}"</td>
                    </tr>
                </table> 
                
                <mat-paginator 
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator> 
        
            </section>

        </aside>

    </article>

</main>