.pdf-reader-container{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.87);
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }

    .pdf-mat-spinner-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10001;
    }

    .btn-container{
        position: absolute;
        /* top: 45px; */
        right: 8px;
        bottom: 0;
        margin-bottom: 10px;    

        .pdfCloseBtn {
            border-color: rgba(224, 74, 74, 0.73);
        }        
    }   

    .unsetPositionBtnContaineer{
        position: unset !important;
        margin-top: 12px;
        float: right;
    }    

    .pdfControlsContainer{
        text-align: right;
        background-color: #f6f6f6;
        // background-color: #333;
        padding: 0px;
        height: 44px;
        width: 100%;
        box-shadow: 0px 1px 5px -3px #000;
        z-index: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    
        .paginator-display {
            font-style: italic;
            margin-left: 11px;   
            font-weight: 500;
            
            b {
                font-weight: 700;
            }
        }

        .action-btn-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;

            a,
            button {
                min-width: 0px;
                padding: 0px 13px;
                height: 100%;
                border-radius: 0px;
                background-color: transparent;
                
                .material-icons {
                    opacity: 0.8;
                    color: black;
                }  
            }

            a:focus,
            a:active,
            a:hover,
            button:focus,
            button:active,
            button:hover {
                background-color: #ececec;

                .material-icons {
                    opacity: 1;
                }          
            }    

            button:disabled,
            button[disabled] {

                .material-icons {
                    opacity: 0.6 !important;
                }  
            }
            
            .pdfCloseBtn {
                border-color: rgba(224, 74, 74, 0.73);
            }    
            
            a {
                text-decoration: none;
                padding-top: 4px;
            }
        }

        .small-device-options {
            display: none;
            visibility: hidden;
            
            button {
                padding: 0px 15px;        
            }

            a {
                padding: 0px 12px;
                text-decoration: none;
                padding-top: 4px;
                
                .material-icons {
                    opacity: 0.8;
                    color: black;
                }  
            }  
            
            a,
            button {
                min-width: 0px;
                height: 100%;
                border-radius: 0px;

            }
        }    
        
        a {
            user-select: auto !important;
            touch-action: auto !important;            
        }
    }

    .pdfViewerContainer {
        height: 100%;
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
        padding: 1%;
        margin-right: 15px;
        background: transparent;
        transition: all .4s ease-in-out;
    }    
}

.unsetPosition{
    position: unset !important;
}

.show {
    display: flex;
}

/* MEDIA QUERIES */
@media(max-width: 768px){
    .pdf-reader-container {

        .pdfViewerContainer {
            margin-right: 0px;
        }          
    } 
}

@media(max-width: 640px){
    .pdf-reader-container {
        padding-top: 0px;


        .pdfControlsContainer {
            height: 60px;
        
            .action-btn-wrapper {
                display: none;
                visibility: hidden;
            }    

            .small-device-options {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 4px;
                visibility: visible;
            }
        }          
    } 
}

@media(min-width: 900px) {
    .scrollbar {
        background: #ffffff33;
        overflow-y: auto;
        overflow-x: hidden;  
    }

    .scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: rgba(255, 255, 255, 0.95)
    } 

    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 6px;
        background-color: #F5F5F5;
    } 

    .scrollbar::-webkit-scrollbar-thumb {
        background-color: #6cbd45;
    }
}