<main>

    <h3>Key Services</h3>

    <section>

        <ngx-slick-carousel 
            class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig">

            <div ngxSlickItem class="slide">
                <app-service-block
                    *ngIf="birthSongMonth"
                    class="fadeInUp _delay5ms"
                    (click)="selected = 'Birth Registration Song Competition';onRegisterForBirthSong()"
                    [title]="'Birth Registration <br/>Song Competition'"
                    [selected]="selected"
                    [subTitle]="''"
                    [icon]="'library_music'"
                    [iconColor]="'#fff'"
                    [iconBg]="'rgb(41, 41, 41)'">
                    <p style="margin-top: -2px">
                        National song and poem competition launch in December 2021. Registration has began.
                    </p>
                </app-service-block>    

                <app-service-block
                    [href]="'https://servicebooking.nira.go.ug/appointment/create/'"
                    class="fadeInUp _delay2ms"
                    [title]="'Book An Appointment'"
                    [selected]="selected"
                    [subTitle]="'Create an appointment'"
                    [icon]="'menu_book'"
                    [iconColor]="'#242424'"
                    [iconBg]="'#E4E4E4'">
                    <p>
                        NIRA has developed this system <br /> to manage appointments better and to save you time.
                    </p>
                </app-service-block>       
                
                <app-service-block
                    *ngIf="!birthSongMonth"
                    class="fadeInUp _delay4ms"
                    [title]="'Registrations'"
                    [selected]="selected"
                    [subTitle]="'Processess & Procedures'"
                    [icon]="'edit'"
                    [iconColor]="'#fff'"
                    [iconBg]="'rgb(41, 41, 41)'">
                    <p>
                        Procedure for citizen registration <br /> (Adults, Forms for citizen registration (Adults),
                        Mass registration ...
                    </p>
                </app-service-block>                   
            </div>     

            <div ngxSlickItem class="slide">
                <app-service-block
                    [removeHeaderMargin]="true"
                    (click)="selected = 'Confirmation of Information';onConfirmationOfInformation()"
                    class="fadeInUp _delay5ms confirmation-of-information"
                    [title]="'Confirmation of <br /> Information'"
                    [selected]="selected"
                    [subTitle]="'Confirmation of Information'"
                    [icon]="'rule'"
                    [iconColor]="'#fff'"
                    [iconBg]="'rgb(41, 41, 41)'">
                    <p>
                        Use a <b>Paid PRN</b> to submit a request <br /> for confirmation of information in the Register 
                    </p>
                </app-service-block>  

                <app-service-block
                    class="fadeInUp _delay4ms registrations"
                    (click)="selected = 'verify our documents';onVerifyNIRADocuments()"
                    [title]="'Verify Our Documents'"
                    [selected]="selected"
                    [subTitle]="'Processess & Procedures'"
                    [icon]="'verified'"
                    [iconColor]="'rgb(0, 139, 48)'"
                    [iconBg]="'#E4E4E4'">
                    <p>
                        Use a <b>Document's Tracking <br /> Number</b> 
                        to confirm if it was issued by our offices.
                    </p>
                </app-service-block>                
            </div>

            <div ngxSlickItem class="slide">
                <app-service-block
                    class="fadeInUp _delay3ms"
                    (click)="selected = 'Track Status';onTrackStatus()"
                    [selected]="selected"
                    [title]="'Track Status'"
                    [subTitle]="'Check the Status of your <br />forms'"
                    [icon]="'timeline'"
                    [iconColor]="'#242424'"
                    [iconBg]="'#E4E4E4'">
                    <p>
                        Use your reference number to <br /> check the status of your application or ID.
                    </p>
                </app-service-block>                

                <app-service-block
                    class="fadeInUp _delay5ms"
                    (click)="selected = 'Child NIN Slip';onPrintNINSlip()"
                    [title]="'Child NIN Slip'"
                    [selected]="selected"
                    [subTitle]="''"
                    [icon]="'description'"
                    [iconColor]="'#fff'"
                    [iconBg]="'rgb(41, 41, 41)'">
                    <p>
                        Print a NIN Slip for your Child<b> free of <br /> charge</b>. The Child should be <b>below the age of 16 years</b>.
                    </p>
                </app-service-block> 

                <app-service-block
                    *ngIf="birthSongMonth"
                    class="fadeInUp _delay4ms"
                    [title]="'Registrations'"
                    [selected]="selected"
                    [subTitle]="'Processess & Procedures'"
                    [icon]="'edit'"
                    [iconColor]="'#fff'"
                    [iconBg]="'rgb(41, 41, 41)'">
                    <p>
                        Procedure for citizen registration <br /> (Adults, Forms for citizen registration (Adults),
                        Mass registration ...
                    </p>
                </app-service-block>                  
            </div>       

            <div ngxSlickItem class="slide"> 
                <app-service-block
                    *ngIf="birthSongMonth"
                    class="fadeInUp _delay5ms"
                    (click)="selected = 'Child NIN Slip';onPrintNINSlip()"
                    [title]="'Child NIN Slip'"
                    [selected]="selected"
                    [subTitle]="''"
                    [icon]="'description'"
                    [iconColor]="'#fff'"
                    [iconBg]="'rgb(41, 41, 41)'">
                    <p>
                        Print a NIN Slip for your Child<b> free of <br /> charge</b>. The Child should be <b>below the age of 16 years</b>.
                    </p>
                </app-service-block>                 

                <app-service-block
                    class="fadeInUp _delay5ms"
                    [title]="'Issuance Of Documents'"
                    [selected]="selected"
                    [subTitle]="'Create an appointment'"
                    [icon]="'description'"
                    [iconColor]="'#242424'"
                    [iconBg]="'#E4E4E4'">
                    <p>
                        National ID Cards, NIN Certificates, <br /> Birth & Death Certificates, Adoption Orders.
                    </p>
                </app-service-block>                   
            </div>       

        </ngx-slick-carousel>      
    </section>

</main>